services:
    -
        class: jwderoos\Configurable\PHPStan\ConfigurableServiceCallbackRule
        arguments:
            reflectionProvider: @reflectionProvider
        tags:
            - phpstan.rules.rule
